#header{
    color: aliceblue;
}

#nav-bar{
    background-color: #3333;
    width: 100%;
    text-decoration: none;
    float: left;
    height: 70px;
}
#nav-bar a{
    text-decoration: none;
    float: left;
}
@media nav and (min-width: 480px) {
    nav {
      background-color: lightgreen;
    }
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }